# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Lint, Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: macos-14

    steps:
    - uses: actions/checkout@v3
    - name: Install SwiftLint
      run: brew install swiftlint
    - name: SwiftLint
      run: swiftlint lint
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
